aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
APScheduler==3.10.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
crcmod==1.7
cryptography==38.0.4
DBUtils==3.0.2
dynaconf==3.1.12
idna==3.4
jmespath==0.10.0
lxml==4.9.2
numpy==1.24.2
oss2==2.16.0
pandas==1.5.3
pycparser==2.21
pycryptodome==3.16.0
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
schedule==1.1.0
six==1.16.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
